* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;


}

.logo {
    width: 100px;
}

.nav-items>ul {
    display: flex;

}

.nav-items ul li {
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}



.restro-card {
    padding: 12px;
    margin: 10px;
    border-radius: 23px;
    width: 300px;
    /* height: 505px; */
    background-color: lightgray;


}

.restro-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    margin: 100px;

}

.search {
    padding: 12px;
}

.restro-card-img {
    border-radius: 23px;
    width: 100%;
    height: 300px;

}

.restro-card:hover {
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 1px 1px solid black;
}


.filter-btn{
    padding:10px;
    margin:5px;
    cursor: pointer;
}


.shimmer-card{
    padding: 12px;
    margin: 10px;
    border-radius: 23px;
    width: 300px;
    height: 505px;
    background-color: rgb(211, 211, 211);

}

.shimmer-container{
    display: flex;
}